#--mm:orc --threads:on --passL:"-L/usr/local/lib/yottadb/r203 -lyottadb"
#-d:release --mm:orc --threads:on --passL:"-L/usr/local/lib/yottadb/r203 -lyottadb"
--threads:on --stackTrace:on --lineTrace:on --mm:orc --passL:"-L/usr/local/lib/yottadb/r203 -lyottadb"
