:root {
    --row-height: 35px;
    /* Höhe einer Tabellenzeile */
    --header-height: 40px;
    /* Höhe des Tabellenkopfes */
    --visible-rows: 16;
    /* Wie viele Zeilen ohne Scrollen sichtbar sein sollen */
    --shadow-height: 3px;
}

/* The wrapper handles the scrollbar */
.table-container {
    /*height: 300px;*/
    height: calc((var(--row-height) * var(--visible-rows)) + var(--header-height) + var(--shadow-height));
    overflow-y: auto;
    scrollbar-gutter: stable;
    border: 1px solid #e5e7eb;
    width: max-content;
    height: 85vh;
}

